
.chart-container {
  width: 100%;
  height: 20vh;
  position: fixed;
  text-align: right;
  bottom: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.elevation-chart {
  width: 100%;
  height: 100%;
}