.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 30rem;
  background-color: #fff;
  border-radius: 0.5rem;
}

.modal-header, .modal-footer {
  padding: 0.5rem;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 3rem;
  border-top: 0.15rem solid #eee;
  border-bottom: 0.15rem solid #eee;
}

input {
  margin: 0.5rem;
}

button.share {
  border: 0.15rem solid #414040;
  border-radius: 0.15rem;
  padding: 0.3rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

button:hover {
  background-color: #eee;
}