.left-panel__container {
    width: 20vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: transparent;
    height: 100vh;
}
  
.left-panel {
  background-color: white;
  width: 20vw;
  padding: 0;
}

.left-panel__button {
    background-color: white;
    font: 0.5rem Poppins;
    padding: 0.5rem;
}

.left-panel__button:hover {
    background-color: #ccc;
    cursor: pointer;
}

img {
    height: 3rem;
    margin: 0;
    padding: 0;
}